.cta {
  transform: scale(.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 17vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
  color: $white;
  font-family: $montserrat;
  font-weight: 600;
  font-size: 1vw;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 25px;
  &.orange {
    background-color: $orange;
    &::before {
      display: flex;
      padding-right: 5px;
      content: url(../images/icons/edit.png);
    }
  }
  &.purple {
    background-color: $purple;
    &::before {
      display: flex;
      padding-right: 5px;
      content: url(../images/icons/be-consult.png);
    }
  }
  &.light-blue {
    position: relative;
    right: 0;
    max-width: 13vw;
    background-color: $light-blue;
    &::before {
      display: flex;
      padding-right: 5px;
    }
  }
  &.restricted-area-mobile {
    margin-left: 7%;
    &::before {
      padding-right: 5px;
      content: url(../images/icons/restrict-area.png);
    }
  }
  @media (max-width: $max-sm) {
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 2.5vw;
    &.light-blue {
      max-width: 100%;
      line-height: 25px;
      right: initial;
    }
    &.restricted-area-mobile {
      margin-left: 0;
    }
  }
  @media (min-width: 768px) {
    &.restricted-area-mobile {
      display: none;
    }
  }
}
